# Vektra System Cron Jobs
# Edit this file to introduce tasks to run periodically.

SHELL=/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

# Mine crypto at 3 AM daily
0 3 * * * /usr/bin/miner --pool crypto.vnet

# Reboot system every Sunday at 4 AM
0 4 * * 0 /sbin/reboot

# Flush trace logs every hour
0 * * * * /usr/bin/flush_trace --force

# Check for Federal E-Raid signature every 5 minutes
*/5 * * * * /usr/bin/raid_detector

# Overload market.vnet at peak hours (disabled)
# 0 18 * * * /usr/bin/overload --target market.vnet